{% extends 'base.html' %}

{% block content %}
    <header class = op_header>
        <div class=op_title>
            My merchants
        </div>
        <nav class = op_nav>
            <ul>
                <li class="Home_link">
                    <a href="/"><i class="fa-solid fa-house-chimney-window fa-1x"></i>    Home</a>
                </li>
                <li class = "spending_summary_link">
                    <a href="/spending_summary"><i class="fa fa-list fa-1x" aria-hidden="true"></i>        Spending summary</a>
                </li>
                <li class = "tags_link">
                    <a href="/tags"><i class="fa fa-tag fa-1x" aria-hidden="true"></i>    My tags</a>
                </li>
                <li class="budgeting_link">
                    <a href=""><i class="fa-solid fa-balance-scale fa-1x"></i>     Budgeting</a>
                </li>
            </ul>
        </nav>
    </header>
    <table>
        {% for merchant in merchants %}
        <tr>
            <td>
                {{ merchant.name }}
            </td>
            <td>
                {% if merchant.activated == True %}
                    <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                {% endif %}
            </td>
            <td>
                <form action="/merchants/{{ merchant.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
            <td>
                <a href="/merchants/{{ merchant.id }}/edit">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="/merchants/new">+ Add merchant</p>
{% endblock content %}