{% extends 'base.html' %}

{% block content %}
    <table>
        {% for merchant in merchants %}
        <tr>
            <td>
                {{ merchant.name }}
            </td>
            <td>
                {% if merchant.activated == True %}
                    <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                {% endif %}
            </td>
            <td>
                <form action="/merchants/{{ merchant.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
            <td>
                <a href="/merchants/{{ merchant.id }}/edit">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="/merchants/new">+ Add merchant</p>
{% endblock content %}