{% extends 'base.html' %}

{% block content %}
    <header class = op_header>
        <div class=op_title>
            Budgeting
        </div>
        <nav class = op_nav>
            <ul>
                <li class="Home_link">
                    <a href="/"><i class="fa-solid fa-house-chimney-window fa-1x"></i>    Home</a>
                </li>
                <li class = "spending_summary_link">
                    <a href="/spending_summary"><i class="fa fa-list fa-1x" aria-hidden="true"></i>        Spending summary</a>
                </li>
                <li class = "tags_link">
                    <a href="/tags"><i class="fa fa-tag fa-1x" aria-hidden="true"></i>    My tags</a>
                </li>
                <li class = "merchants_link">
                    <a href="/merchants"><i class="fa-solid fa-store fa-1x"></i>     My merchants</a>
                </li>
            </ul>
        </nav>
    </header>

    <form action="/spending_summary" method="POST">
        <div>
            <input type="number" id="budget" name = "budget" min="0" step="0.01" placeholder="0.00">
        </div>
        <div>
            <input type = "submit">
        </div>
    </form>
{% endblock content %}