{% extends 'base.html' %}

{% block content %}
<header>
    <div id = "logo">
        Spending Tracker
    </div>
</header>
<section class="option-area">
    <article class="container row">
        <div class="single-option">
            <i class="fa-solid fa-tag"></i>
            <span><a href="/spending_summary">Spending summary</a></span>
        </div>
        <div class="single-option">
            <i class="fa-solid fa-tag"></i>
            <span><a href="/tags">My tags</a></span>
        </div>
        <div class="single-option">
            <i class="fa-solid fa-tag"></i>
            <span><a href="/merchants">My merchants</a></span>
        </div>
        <div class="single-option">
            <i class="fa-solid fa-tag"></i>
            <span><a href="/analytics">Analytics</span>
        </div>
    </article>
</section> 
{% endblock content %}