{% extends 'base.html' %}

{% block content %}
<header class="hp_header">
    Spending Tracker
</header>
<section class="option-area">
    <article class="container row">
        <div class="single-option">
            <i class="fa fa-list fa-6x" aria-hidden="true"></i>
            <span class="link_on_hp"><a href="/spending_summary">Spending summary</a></span>
        </div>
        <div class="single-option">
            <i class="fa fa-tag fa-6x" aria-hidden="true"></i>
            <span class="link_on_hp"><a href="/tags">My tags</a></span>
        </div>
        <div class="single-option">
            <i class="fa-solid fa-store fa-6x"></i>
            <span class="link_on_hp"><a href="/merchants">My merchants</a></span>
        </div>
        <div class="single-option">
            <i class="fa-solid fa-balance-scale fa-6x"></i>
            <span class="link_on_hp"><a href="/budgeting">Budgeting</span>
        </div>
    </article>
</section> 
{% endblock content %}