{% extends 'base.html' %}

{% block content %}
        <!-- header-start -->
        <header class = op_header>
            <div class = op_title>
                Spending summary
            </div>
            <nav class = op_nav>
                <ul>
                    <li class="Home_link">
                        <a href="/">Home <i class="fa-solid fa-house-chimney-window fa-1x"></i></a>
                    </li>
                    <li class = "tags_link">
                        <a href="/tags">My tags <i class="fa fa-tag fa-1x" aria-hidden="true"></i></a>
                    </li>
                    <li class = "merchants_link">
                        <a href="/merchants">My merchants <i class="fa-solid fa-store fa-1x"></i></a>
                    </li>
                    <li class="budgeting_link">
                        <a href="">Budgeting <i class="fa-solid fa-balance-scale fa-1x"></i></a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- header-end -->
    
        <!-- Filter and sort buttons start -->
        <section class="filter_and_Sorts">
            <div class="sorts">
                Sorts
                <a href="/spending_summary/sort_ascend">
                    <button class="btn btn-primary btn-lg">Sort (date ascending)</button>
                </a>
                <a href="/spending_summary/sort_descend">
                    <button class="btn btn-primary btn-lg">Sort (date descending)</button>
                </a>
            </div>
            
            <div class="filters">
                <div class="sort_filter_title">
                    Filters
                </div>
                <form action="/spending_summary/filter" method="POST">
                <select name="days" id="days">
                    <option value="">All days</option>
                    {% for day in days %}
                        <option value = "{{day}}">{{ day }}</option>
                    {% endfor %}
                </select>
                <select name="months" id="months">
                    <option value="">All months</option>
                    {% for month in months %}
                        <option value = "{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
                <select name="years" id="years">
                    <option value="">All years</option>
                    {% for year in years %}
                        <option value = "{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
                <select name="tags" id="tags">
                    <option value="">All tags</option>
                    {% for tag in tags %}
                        <option name = "tag_id" value = "{{tag.id}}">{{tag.name}}</option>
                    {% endfor %}
                </select>
                <select name="merchants" id="merchants">
                    <option value="">All merchants</option>
                    {% for merchant in merchants %}
                        <option value = {{merchant.name}}>{{merchant.name}}</option>
                    {% endfor %}
                </select>
                <a href="/spending_summary/filter">
                    <button class="btn btn-primary btn-lg">Filter</button>
                </a>
            </div>
        </section>
        <!-- Filter and sort buttons end -->
    
        <!-- List of transactions start -->
        <section class="transactions-table-section">
            <table class="transaction-table">
                <tr>
                    <th>Tag</th>
                    <th>Merchant</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th class="last_column"></th>
                </tr>
                {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.tag.name }}</td>
                            <td>{{ transaction.merchant.name }}</td>
                            <td>{{ transaction.date.strftime("%b %d %Y") }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td class="last_column"></td>
                        </tr>  

                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td>{{ total }}</td>
                    <td></td>
                </tr>
            </table>
        </section>
        <a href="/spending_summary/new">
            <button class="btn btn-primary btn-lg">New transaction</button>
        </a>

{% endblock %}