{% extends 'base.html' %}

{% block content %}

    <!-- header-start -->
    <header>
        <div id="logo_transactions">
            Spending summary
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">My merchants</a>
            </li>
            <li>
                <a href="">My tags</a>
            </li>
            <li>
                <a href="">Analytics</a>
            </li>
        </ul>
    </nav>
    <!-- header-end -->

    <section class="Charts">
        SDGF
    </section>

    

    <!-- List of transactions start -->
    <section>
        <table>
            <tr>
                <th>Tag</th>
                <th>Merchant</th>
                <th>Date</th>
                <th>Amount</th>
                <th class="last_column"></th>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.tag.name }}</td>
                <td>{{ transaction.merchant.name }}</td>
                <td>{{ transaction.date.strftime("%b %d %Y") }}</td>
                <td>{{ transaction.amount }}</td>
                <td class="last_column"></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
        </table>
    </section>
    <p><a href="/spending_summary/new">+ Add transaction</p>
{% endblock content %}