{% extends 'base.html' %}

{% block content %}

    <!-- header-start -->
    <header class = op_header>
        <div class= op_title>
            Spending summary
        </div>
        <nav class = op_nav>
            <ul>
                <li class="Home_link">
                    <a href="/"><i class="fa-solid fa-house-chimney-window fa-1x"></i>    Home</a>
                </li>
                <li class = "tags_link">
                    <a href="/tags"><i class="fa fa-tag fa-1x" aria-hidden="true"></i>    My tags</a>
                </li>
                <li class = "merchants_link">
                    <a href="/merchants"><i class="fa-solid fa-store fa-1x"></i>     My merchants</a>
                </li>
                <li class="budgeting_link">
                    <a href=""><i class="fa-solid fa-balance-scale fa-1x"></i>     Budgeting</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- header-end -->

    <!-- Filter and sort buttons start -->
    <section class="filter_and_Sorts">
        <div class="sorts">
            Sorts
            <a href="/spending_summary/sort_ascend">
                <button class="btn btn-primary btn-lg">Sort (date ascending)</button>
            </a>
            <a href="/spending_summary/sort_descend">
                <button class="btn btn-primary btn-lg">Sort (date descending)</button>
            </a>
        </div>
        <!-- <select name="months" id="months">
            <option value="">All months</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select> -->
        <div>
            <form action="/spending_summary/filter" method="POST">
                <select name="tag_id" id="tag">
                    <option selected disabled>All tags</option>
                    {% for tag in tags %}
                        <option value={{tag.id}}>{{tag.name}}</option>
                    {% endfor %}
                </select>
                <select name="merchant_id" id="merchant">
                    <option selected disabled>All merchants</option>
                    {% for merchant in merchants %}
                        <option value = {{merchant.id}}>{{merchant.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Filter">
            </form>
        </div>
    </section>
    <!-- Filter and sort buttons end -->

    <!-- List of transactions start -->
    <section class="transactions-table-section">
        <table class="transaction-table">
            <tr>
                <th>Tag</th>
                <th>Merchant</th>
                <th>Date</th>
                <th>Amount</th>
                <th class="last_column"></th>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.tag.name }}</td>
                <td>{{ transaction.merchant.name }}</td>
                <td>{{ transaction.date.strftime("%b %d %Y") }}</td>
                <td>{{ transaction.amount }}</td>
                <td class="last_column"></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
        </table>
    </section>
    <a href="/spending_summary/new">
        <button class="btn btn-primary btn-lg">New transaction</button>
    </a>
{% endblock content %}